.footer{
    display: flex;
    background-color: #3A611C;
    height: 94px;
    margin-top: 192px;

}
.footerp{
    
    margin-top: 47px;
    margin-left: 600px;
    font-size: 21px;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;


  
}